@use "../abstracts/variables" as utils;
@use "sass:map";
@use "sass:math";
@mixin box($width, $height, $border-radius: null) {
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
@mixin flex-list($x, $y, $flex, $gap: 0px) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  gap: $gap;
  > [class*="item"] {
    flex: $flex;
  }
}
@mixin circle($size) {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
}
@mixin center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}
$container-min-widths: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$display-properties: none, inline, inline-block, block, table, table-cell,
  table-row, flex, inline-flex;

@mixin make-a-media-query($breakpoint, $bypass: false) {
  @if $bypass {
    @content;
  } @else {
    @media screen and (min-width: map.get($container-min-widths, #{$breakpoint})) {
      @content;
    }
  }
}

@each $breakpoint, $dimension in $container-min-widths {
  $max-width: map-get($container-min-widths, $breakpoint);
  $is-xs: $breakpoint == "xs";
  $infix: if($breakpoint == xs, "", "-#{$breakpoint}");
  @include make-a-media-query($breakpoint, $is-xs) {
    @each $property in $display-properties {
      .d#{$infix}-#{$property} {
        display: $property !important;
      }
    }
  }
}
