@use "../abstracts/variables" as utils;
@use "sass:math";
@mixin box($width, $height, $border-radius: null) {
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
@mixin flex-list($x, $y, $flex, $gap: 0px) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  gap: $gap;
  > [class*="item"] {
    flex: $flex;
  }
}
@mixin grid-list($col, $row) {
  display: grid;
}
@mixin circle($size) {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
}
@mixin center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}
