$white-100: #f2ede6;
$black: #2d2d2d;
$black-100: #676562;
$yellow: #f7d047;
$shape: #018294;
$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$font-primary: "Roobert", sans-serif;
$gray-5: #e0e0e0;
$text-color-dark: #131717;
