/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-inline: auto;
}
.btn {
  min-width: 118px;
  padding: 11px 41px;
  border-radius: 24.5px;

  color: #ffffff;
  background-color: #171100;

  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
}
.btn:hover {
  opacity: 0.9;
}
.heading {
  font-family: var(--Sen-font);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;

  color: #171100;
}
.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}
.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-3 {
  --line-clamp: 3;
}
.break-all {
  word-break: break-all;
}
.list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.item {
}
