@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";
@use "../components/button";
.footer {
  background-color: variables.$white-100;
  &__booking {
    margin-top: 150px;
    background-color: variables.$shape;
  }
}
.footer__platform {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.platform {
  &__heading {
    max-width: 80%;
    text-align: center;
  }
  &__desc {
    margin-top: 20px;
    @include typography.text-font(20, 400, 34);
  }
  &__list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  border-radius: 20px;
}
.footer-booking {
  &__btn {
    @include button.button(175px, 58px, true, 50px);
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 50px;
    background-color: variables.$yellow;
  }
  &__list {
    margin-top: 46px;
  }
  &__item {
    margin-top: 24px;
    display: flex;
    align-items: center;

    @include typography.text-font(18, 400, 18);
  }
  &__icon {
    margin-right: 16px;
  }
}
.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px 86px;
}
.footer__nav .nav__link {
  @include typography.text-font(17, 400, 17);
}
.social {
  &__list {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  &__icon {
    font-size: 24px;
  }
  &__link {
    color: black;
  }
}
@include mixins.make-a-media-query(xs) {
  .platform {
    &__list {
      flex-direction: column;
    }
  }
  .footer__booking {
    flex-direction: column;
  }
  .footer__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__nav .nav {
    &__menu {
      flex-direction: column;
    }
  }
}
