:root {
  --font-primary: "Poppins";
  --primary-color: #1ebfc1;
  --text-color: #9da6a5;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-family: var(--font-primary);
  font-size: 62.5%;
}
body {
  height: 100vh;
}
.main-content {
  margin: 0 auto;
  width: 1170px;
}
.heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.16;
}
.desc {
  color: var(--text-color);
  font-size: 1.8rem;
  font-family: var(--font-primary);
  line-height: 1.78;
}
.hover--opacity {
  opacity: 0.5;
  cursor: pointer;
}
