/* Header */
.header .body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-family: Poppins;
  color: #494949;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
