@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";
@use "../components/button";
// Pricing
.pricing {
  padding-top: 140px;
  text-align: center;

  &__heading {
    color: variables.$white;
  }
  &__desc {
    margin-block: 8px 0;
    color: variables.$white-80;
    @include typography.text-font(20, 400, 34);
  }
  &__list {
    background-color: #fff;
    border-radius: 20px;
  }
  &__card {
    --primary-color: #{variables.$black};
    --secondary-color: #{variables.$black-100};
    --icon-color: #028193;
    --background-color: #fff;
    border-radius: 20px;
    background-color: var(--background-color);
    padding: 30px 30px 54px;
    transition: transform 0.15s linear;
  }
  &__card:hover {
    --primary-color: #{variables.$white};
    --secondary-color: #{variables.$white-80};
    --background-color: #028193;
    --icon-color: #005461;
    box-shadow: 0px 30px 80px -20px rgba(0, 35, 40, 0.59);
    transform: translateY(-70px);
  }
  &__card:hover .pricing-card__list::before {
    opacity: 0.2;
  }
}
.pricing-card {
  &__heading {
    display: flex;
    align-items: center;
    color: var(--primary-color);
  }
  &__thumb {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    user-select: none;
    pointer-events: none;
  }
  &__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__desc,
  &__price {
    @include typography.text-font(16, 400, 26);
    color: var(--secondary-color);
  }
  &__desc {
    text-align: left;
    margin-top: 20px;
    @include typography.clip-text(2);
  }
  &__price {
    margin-top: 30px;
  }
  &__price strong {
    @include typography.text-font(34, 400);
    color: var(--primary-color);
  }
  &__button {
    @include button.button(100%, 58px, true, 40px);
    @include typography.text-font(19, 500);
    color: #2d2d2d;
    background-color: variables.$yellow;
    margin-top: 24px;
  }
  &__list {
    text-align: left;
    margin-top: 30px;
  }
  &__list::before {
    content: "";
    display: block;
    height: 1px;
    background-color: variables.$white-100;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    @include typography.text-font(16, 400, 18);
    color: var(--secondary-color);
  }
  &__item ~ &__item {
    margin-top: 22px;
  }

  &__icon {
    color: var(--icon-color);
  }
}
