* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Vị trí
Kích thước
Màu sắc
Kiểu dáng */

#main {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    width: 100%;
    height: 54px;
    background-color: white;
    padding: 8px 16px;
    box-shadow: 0px 5px 15px gray;
    position: fixed;
}

#header li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#nav {
    position: relative;
}

#nav>li {
    /* height: 54px; */
}

#nav li {
    display: inline-block;
    letter-spacing: 4px;
    padding: 8px 16px;
}

#nav #navLeft {
    position: absolute;
    top: 0;
    right: 0;
}

#nav li:hover a {
    background: #ccc;
    padding: 8px 8px;
    /* width: 50px; */
}


/* Begin slide */

#slide {
    padding-top: 50%;
    background: url('/asset/Image/Slide1.jpg') top center / cover no-repeat;
    position: relative;
}

#slide #text-content h1 {
    position: absolute;
}


/* End slide */

#content {
    height: 1000px;
}

#footer {}