/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
*,
::after,
::before {
  box-sizing: border-box;
}
.container,
.container-fluid {
  --column-size: 12;
  --spacer: 10px;
  width: 100%;
  margin-inline: auto;
  padding-inline: calc(var(--spacer) / 2);
}
.flex-direction__col {
  flex-direction: column;
}
.align-item__center {
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(-1 * var(--spacer) / 2);
}

.col {
  /* All column have width equal */
  flex: 1;
}

.g-0 {
  --spacer: 0;
}

.row > [class*="offset-"] {
  margin-left: calc(100% / var(--column-size) * var(--offset-number));
}

.offset-0 {
  --offset-number: 0;
}

.offset-1 {
  --offset-number: 1;
}

.offset-2 {
  --offset-number: 2;
}

.offset-3 {
  --offset-number: 3;
}

.offset-4 {
  --offset-number: 4;
}

.offset-5 {
  --offset-number: 5;
}

.offset-6 {
  --offset-number: 6;
}

.offset-7 {
  --offset-number: 7;
}

.offset-8 {
  --offset-number: 8;
}

.offset-9 {
  --offset-number: 9;
}

.offset-10 {
  --offset-number: 10;
}

.offset-11 {
  --offset-number: 11;
}

.col,
.row[class*="row-cols-"] > *,
.row > [class*="col-"] {
  padding-inline: calc(var(--spacer) / 2);
}

.row[class*="row-cols-"] > *,
.row > [class*="col-"] {
  flex: 0 0 auto;
}

.row[class*="row-cols-"] > * {
  width: calc(100% / var(--row-cols-number));
}

.row > [class*="col-"] {
  width: calc(100% / var(--column-size) * var(--column-number));
}

.row-cols-1 > * {
  --row-cols-number: 1;
}

.row-cols-2 > * {
  --row-cols-number: 2;
}

.row-cols-3 > * {
  --row-cols-number: 3;
}

.row-cols-4 > * {
  --row-cols-number: 4;
}

.row-cols-5 > * {
  --row-cols-number: 5;
}

.row-cols-6 > * {
  --row-cols-number: 6;
}

.col-1 {
  --column-number: 1;
}

.col-2 {
  --column-number: 2;
}

.col-3 {
  --column-number: 3;
}

.col-4 {
  --column-number: 4;
}

.col-5 {
  --column-number: 5;
}

.col-6 {
  --column-number: 6;
}

.col-7 {
  --column-number: 7;
}

.col-8 {
  --column-number: 8;
}

.col-9 {
  --column-number: 9;
}

.col-10 {
  --column-number: 10;
}

.col-11 {
  --column-number: 11;
}

.col-12 {
  --column-number: 12;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 530px;
    --spacer: 24px;
  }

  .g-sm-0 {
    --spacer: 0;
  }

  .offset-sm-1 {
    --offset-number: 1;
  }

  .offset-sm-2 {
    --offset-number: 2;
  }

  .offset-sm-3 {
    --offset-number: 3;
  }

  .offset-sm-4 {
    --offset-number: 4;
  }

  .offset-sm-5 {
    --offset-number: 5;
  }

  .offset-sm-6 {
    --offset-number: 6;
  }

  .offset-sm-7 {
    --offset-number: 7;
  }

  .offset-sm-8 {
    --offset-number: 8;
  }

  .offset-sm-9 {
    --offset-number: 9;
  }

  .offset-sm-10 {
    --offset-number: 10;
  }

  .offset-sm-11 {
    --offset-number: 11;
  }

  .col-sm-1 {
    --column-number: 1;
  }

  .col-sm-2 {
    --column-number: 2;
  }

  .col-sm-3 {
    --column-number: 3;
  }

  .col-sm-4 {
    --column-number: 4;
  }

  .col-sm-5 {
    --column-number: 5;
  }

  .col-sm-6 {
    --column-number: 6;
  }

  .col-sm-7 {
    --column-number: 7;
  }

  .col-sm-8 {
    --column-number: 8;
  }

  .col-sm-9 {
    --column-number: 9;
  }

  .col-sm-10 {
    --column-number: 10;
  }

  .col-sm-11 {
    --column-number: 11;
  }

  .col-sm-12 {
    --column-number: 12;
  }

  .offset-sm-0 {
    --offset-number: 0;
  }

  .row-cols-sm-1 > * {
    --row-cols-number: 1;
  }

  .row-cols-sm-2 > * {
    --row-cols-number: 2;
  }

  .row-cols-sm-3 > * {
    --row-cols-number: 3;
  }

  .row-cols-sm-4 > * {
    --row-cols-number: 4;
  }

  .row-cols-sm-5 > * {
    --row-cols-number: 5;
  }

  .row-cols-sm-6 > * {
    --row-cols-number: 6;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .g-md-0 {
    --spacer: 0;
  }

  .offset-md-0 {
    --offset-number: 0;
  }

  .offset-md-1 {
    --offset-number: 1;
  }

  .offset-md-2 {
    --offset-number: 2;
  }

  .offset-md-3 {
    --offset-number: 3;
  }

  .offset-md-4 {
    --offset-number: 4;
  }

  .offset-md-5 {
    --offset-number: 5;
  }

  .offset-md-6 {
    --offset-number: 6;
  }

  .offset-md-7 {
    --offset-number: 7;
  }

  .offset-md-8 {
    --offset-number: 8;
  }

  .offset-md-9 {
    --offset-number: 9;
  }

  .offset-md-10 {
    --offset-number: 10;
  }

  .offset-md-11 {
    --offset-number: 11;
  }

  .col-md-1 {
    --column-number: 1;
  }

  .col-md-2 {
    --column-number: 2;
  }

  .col-md-3 {
    --column-number: 3;
  }

  .col-md-4 {
    --column-number: 4;
  }

  .col-md-5 {
    --column-number: 5;
  }

  .col-md-6 {
    --column-number: 6;
  }

  .col-md-7 {
    --column-number: 7;
  }

  .col-md-8 {
    --column-number: 8;
  }

  .col-md-9 {
    --column-number: 9;
  }

  .col-md-10 {
    --column-number: 10;
  }

  .col-md-11 {
    --column-number: 11;
  }

  .col-md-12 {
    --column-number: 12;
  }

  .row-cols-md-1 > * {
    --row-cols-number: 1;
  }

  .row-cols-md-2 > * {
    --row-cols-number: 2;
  }

  .row-cols-md-3 > * {
    --row-cols-number: 3;
  }

  .row-cols-md-4 > * {
    --row-cols-number: 4;
  }

  .row-cols-md-5 > * {
    --row-cols-number: 5;
  }

  .row-cols-md-6 > * {
    --row-cols-number: 6;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    --spacer: 30px;
  }

  .g-l-0 {
    --spacer: 0;
  }

  .offset-0 {
    --offset-number: 0;
  }

  .offset-l-1 {
    --offset-number: 1;
  }

  .offset-l-2 {
    --offset-number: 2;
  }

  .offset-l-3 {
    --offset-number: 3;
  }

  .offset-l-4 {
    --offset-number: 4;
  }

  .offset-l-5 {
    --offset-number: 5;
  }

  .offset-l-6 {
    --offset-number: 6;
  }

  .offset-l-7 {
    --offset-number: 7;
  }

  .offset-l-8 {
    --offset-number: 8;
  }

  .offset-l-9 {
    --offset-number: 9;
  }

  .offset-l-10 {
    --offset-number: 10;
  }

  .offset-l-11 {
    --offset-number: 11;
  }

  .col-l-1 {
    --column-number: 1;
  }

  .col-l-2 {
    --column-number: 2;
  }

  .col-l-3 {
    --column-number: 3;
  }

  .col-l-4 {
    --column-number: 4;
  }

  .col-l-5 {
    --column-number: 5;
  }

  .col-l-6 {
    --column-number: 6;
  }

  .col-l-7 {
    --column-number: 7;
  }

  .col-l-8 {
    --column-number: 8;
  }

  .col-l-9 {
    --column-number: 9;
  }

  .col-l-10 {
    --column-number: 10;
  }

  .col-l-11 {
    --column-number: 11;
  }

  .col-l-12 {
    --column-number: 12;
  }

  .row-cols-l-1 > * {
    --row-cols-number: 1;
  }

  .row-cols-l-2 > * {
    --row-cols-number: 2;
  }

  .row-cols-l-3 > * {
    --row-cols-number: 3;
  }

  .row-cols-l-4 > * {
    --row-cols-number: 4;
  }

  .row-cols-l-5 > * {
    --row-cols-number: 5;
  }

  .row-cols-l-6 > * {
    --row-cols-number: 6;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .g-xl-0 {
    --spacer: 0;
  }

  .offset-xl-0 {
    --offset-number: 0;
  }

  .offset-xl-1 {
    --offset-number: 1;
  }

  .offset-xl-2 {
    --offset-number: 2;
  }

  .offset-xl-3 {
    --offset-number: 3;
  }

  .offset-xl-4 {
    --offset-number: 4;
  }

  .offset-xl-5 {
    --offset-number: 5;
  }

  .offset-xl-6 {
    --offset-number: 6;
  }

  .offset-xl-7 {
    --offset-number: 7;
  }

  .offset-xl-8 {
    --offset-number: 8;
  }

  .offset-xl-9 {
    --offset-number: 9;
  }

  .offset-xl-10 {
    --offset-number: 10;
  }

  .offset-xl-11 {
    --offset-number: 11;
  }

  .col-xl-1 {
    --column-number: 1;
  }

  .col-xl-2 {
    --column-number: 2;
  }

  .col-xl-3 {
    --column-number: 3;
  }

  .col-xl-4 {
    --column-number: 4;
  }

  .col-xl-5 {
    --column-number: 5;
  }

  .col-xl-6 {
    --column-number: 6;
  }

  .col-xl-7 {
    --column-number: 7;
  }

  .col-xl-8 {
    --column-number: 8;
  }

  .col-xl-9 {
    --column-number: 9;
  }

  .col-xl-10 {
    --column-number: 10;
  }

  .col-xl-11 {
    --column-number: 11;
  }

  .col-xl-12 {
    --column-number: 12;
  }

  .row-cols-xl-1 > * {
    --row-cols-number: 1;
  }

  .row-cols-xl-2 > * {
    --row-cols-number: 2;
  }

  .row-cols-xl-3 > * {
    --row-cols-number: 3;
  }

  .row-cols-xl-4 > * {
    --row-cols-number: 4;
  }

  .row-cols-xl-5 > * {
    --row-cols-number: 5;
  }

  .row-cols-xl-6 > * {
    --row-cols-number: 6;
  }
}
