.nav {
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 47px;
  margin-left: 70px;
  margin-right: auto;
}
.nav__link {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}
.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in;
}
.nav__link:hover::after {
  left: 0;
  width: 100%;
}
.nav__cta {
  display: flex;
  align-items: center;
}
.nav-cta__button {
  --border-radius: 6px;
  padding: 12px 28px;
}
.nav-cta__log-in {
  color: var(--text-secondary-color);
  background-color: transparent;
}
.nav-cta__button ~ .nav-cta__button {
  margin-left: 28px;
}
/* Hero */
.hero {
  margin-top: 76px;
  align-items: center;
}
.hero__heading {
  margin-top: 12px;
}
.hero__highlight {
  color: var(--primary-color);
}
.hero__desc {
  margin-top: 20px;
}
.hero__form {
  margin-top: 40px;
}
.hero-form__inner {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 8px 8px 23px;
  background-color: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.hero-form__input {
  flex: 1;
  padding: 0;
  border: 0;
  outline: none;
  color: var(--text-secondary-color);
  font-weight: 400;
}
.hero-form__submit {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 8px;
}
.hero-form__input,
.hero-form__submit {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.75;
}
.hero-form__note {
  display: inline-block;
  margin-top: 20px;
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.71429;
}
/* Hero media */
.hero__media {
  position: relative;
}
.hero__img-wrapper {
  width: 296px;
}
.hero__img {
  width: 100%;
  max-height: 100%;
}
.hero__decor {
  position: absolute;
}
.hero__decor-interest {
  top: 127px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #da6464;

  color: #fff;
}
.hero__decor-interest p:first-child {
  font-size: 4.4rem;
  font-weight: 600;
}
.hero__decor-interest p:last-child {
  font-size: 1.6rem;
  font-weight: 400;
}
.hero__decor-secured {
  right: 89px;
  bottom: 64px;
  display: flex;
  align-items: center;
  padding: 20px 15px 21px 14px;
  color: #fff;
  border-radius: 10px;
  background-color: #439f90;
}
.secured__text p:first-child {
  font-size: 1.4rem;
  font-weight: 600;
}
.secured__icon {
  margin-right: 11px;
}
.secured__text p:last-child {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__decor-deposit {
  top: 113px;
  left: -100px;
  display: flex;
  align-items: center;
  padding: 14px 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.deposit__icon {
  margin-right: 8px;
}
.deposit__text {
  display: flex;
  gap: 19px;
  font-size: 1.4rem;
}
.deposit__text p:first-child {
  color: #31456a;
  font-weight: 600;
}
.deposit__text p:last-child {
  color: #4ab5e3;
  font-weight: 400;
}

/* Work */
.work {
  margin-top: 160px;
}
.work__heading {
  margin-top: 12px;
}
.work__list {
  margin-top: 70px;
}
.work__item {
  color: var(--text-primary-color);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.45455;
}
.work__item ~ .work__item {
  margin-top: 30px;
}
.work-item__desc {
  margin-top: 16px;
  color: var(--text-secondary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
/* Work media */
.work__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.work__img-wrapper {
  /* height: 456px; */
  width: 100%;
  margin-right: 10px;
}
.work__img {
  display: block;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.work-media__background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 100%;
  z-index: -1;
}
.work-media__icon {
  position: absolute;
  top: 22%;
  left: 80%;
  width: 40px;
  height: 40px;
  padding: 9px 6px 8px 6px;
  background-color: #fff;
  outline: 12px solid var(--primary-color);
  border-radius: 8px;
}
.work-media__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.work__congratulate {
  position: absolute;
  right: -20%;
  bottom: 96px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px 15px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.congratulate__icon-outer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 6px;
  color: #4ab5e3;
  background-color: currentColor;
}
.congratulate__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #4ab5e3;
  background-color: #fff;
}
.congratulate__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.congratulate__text p:first-child {
  font-size: 1.4rem;
  font-weight: 600;
}
.congratulate__text p:last-child {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Features */
.features__heading {
  margin-top: 12px;
}
.features__desc {
  margin-top: 20px;
}
.features__list {
  margin-top: 28px;
}
.features__btn {
  margin-top: 38px;
}
