.nav {
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 47px;
  margin-left: 70px;
  margin-right: auto;
}
.nav__link {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}
.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in;
}
.nav__link:hover::after {
  left: 0;
  width: 100%;
}
.nav__cta {
  display: flex;
  align-items: center;
}
.nav-cta__button {
  --border-radius: 6px;
  padding: 12px 28px;
}
.nav-cta__log-in {
  color: var(--text-secondary-color);
  background-color: transparent;
}
.nav-cta__button ~ .nav-cta__button {
  margin-left: 28px;
}
/* Hero */
.hero {
  margin-top: 76px;
  align-items: center;
}
.hero__heading {
  margin-top: 12px;
}
.hero__highlight {
  color: var(--primary-color);
}
.hero__desc {
  margin-top: 20px;
}
.hero__form {
  margin-top: 40px;
}
.hero-form__inner {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 8px 8px 23px;
  background-color: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.hero-form__input {
  flex: 1;
  padding: 0;
  border: 0;
  outline: none;
  color: var(--text-secondary-color);
  font-weight: 400;
}
.hero-form__submit {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 8px;
}
.hero-form__input,
.hero-form__submit {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.75;
}
.hero-form__note {
  display: inline-block;
  margin-top: 20px;
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.71429;
}
/* Hero media */
.hero__media {
  position: relative;
}
.hero__img-wrapper {
  width: 296px;
}
.hero__img {
  width: 100%;
  max-height: 100%;
}
.hero__decor {
  position: absolute;
}
.hero__decor-interest {
  top: 127px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #da6464;

  color: #fff;
}
.hero__decor-interest p:first-child {
  font-size: 4.4rem;
  font-weight: 600;
}
.hero__decor-interest p:last-child {
  font-size: 1.6rem;
  font-weight: 400;
}
.hero__decor-secured {
  right: 89px;
  bottom: 64px;
  display: flex;
  align-items: center;
  padding: 20px 15px 21px 14px;
  color: #fff;
  border-radius: 10px;
  background-color: #439f90;
}
.secured__text p:first-child {
  font-size: 1.4rem;
  font-weight: 600;
}
.secured__icon {
  margin-right: 11px;
}
.secured__text p:last-child {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__decor-deposit {
  top: 113px;
  left: -100px;
  display: flex;
  align-items: center;
  padding: 14px 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.deposit__icon {
  margin-right: 8px;
}
.deposit__text {
  display: flex;
  gap: 19px;
  font-size: 1.4rem;
}
.deposit__text p:first-child {
  color: #31456a;
  font-weight: 600;
}
.deposit__text p:last-child {
  color: #4ab5e3;
  font-weight: 400;
}

/* Work */
.work {
  margin-top: 160px;
}
.work__heading {
  margin-top: 12px;
}
.work__list {
  margin-top: 70px;
}
.work__item {
  color: var(--text-primary-color);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.45455;
}
.work__item ~ .work__item {
  margin-top: 30px;
}
.work-item__desc {
  margin-top: 16px;
  color: var(--text-secondary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
/* Work media */
.work__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.work__img-wrapper {
  /* height: 456px; */
  width: 100%;
  margin-right: 10px;
}
.work__img {
  display: block;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.work-media__background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 100%;
  z-index: -1;
}
.work-media__icon {
  position: absolute;
  top: 22%;
  left: 80%;
  width: 40px;
  height: 40px;
  padding: 9px 6px 8px 6px;
  background-color: #fff;
  outline: 12px solid var(--primary-color);
  border-radius: 4px;
}
.work-media__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.work__congratulate {
  position: absolute;
  right: -20%;
  bottom: 96px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px 15px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.congratulate__icon-outer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 6px;
  color: #4ab5e3;
  background-color: currentColor;
}
.congratulate__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #4ab5e3;
  background-color: #fff;
}
.congratulate__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.congratulate__text p:first-child {
  font-size: 1.4rem;
  font-weight: 600;
}
.congratulate__text p:last-child {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Features */
.features {
  margin-top: 160px;
}
.features__heading {
  margin-top: 12px;
}
.features__desc {
  margin-top: 20px;
}
.features__list {
  margin-top: 28px;
}
.features__btn {
  margin-top: 38px;
}
.features__media {
  position: relative;
}
.features__img-wrapper {
  width: 482px;
}
.feature__img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.feature__decor {
  position: absolute;
}
.feature__send-money {
  top: -15%;
  right: 0;
  display: flex;
  align-items: center;
  width: 276px;
  padding: 23px 13px;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.send-money__icon-wrapper {
  font-size: 10px;
  width: 4em;
  height: 4em;
  position: relative;
  display: inline-block;
  margin-right: 12px;
  border-radius: 8px;
}
.send-money__icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: #da6464;
  box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48),
    -4px -2px 16px 0px #fff;
  border-radius: inherit;
}
.send-money__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #da6464;
}
.feature__send-money .send-money__text:last-child {
  margin-left: auto;
}
.send-money__text {
  font-family: "Inter", sans-serif;
}
.send-money__text p:first-child {
  color: var(--text-primary-color);
}
.send-money__text p:last-child {
  margin-top: 4px;
  color: var(--text-secondary-color);
  font-size: 1.6rem;
  font-weight: 400;
}
.feature__send-money .send-money__text:nth-child(2) p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
}
.feature__send-money .send-money__text:last-child p:first-child {
  font-size: 1.6rem;
  font-weight: 400;
}
.feature__income {
  bottom: -15%;
  right: -10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 12em;
  height: 12em;
  padding: 14px 0 15px 15px;
  background-color: #439f90;
  border-radius: 16px;
}
.feature-income__icon-wrapper {
  width: 3em;
  height: 3em;
  padding: 0.8em;
  background-color: #fff;
  border-radius: 8px;
}
.feature-income__text {
  color: #fff;
}
.feature-income__text:nth-last-child(2) {
  font-size: 1.2rem;
  font-weight: 400;
}
.feature-income__text:last-child {
  font-size: 1.8rem;
  font-weight: 600;
}

.feature__2 .features__img-wrapper {
  width: auto;
  margin-inline: 10px;
}
.features__background {
  position: absolute;
  height: 73%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.features__background img {
  width: 100%;
  height: 100%;
}
.features__cash {
  top: -35px;
  right: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background-color: #7264d6;
}
.features__payment {
  bottom: 57px;
  right: -70px;
  display: inline-block;
  padding: 28px;
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}
.features__payment p {
  margin-bottom: 20px;
  display: inline-block;
  color: var(--text-primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.payment__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
}
.payment__item {
  width: 63px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2fa;
  border-radius: 4px;
}
.payment__item:has(i) {
  background-color: #f9ea63;
}
.payment__item:has(i) i {
  font-size: 15px;
}
/* Feedback */
.feedback {
  margin-top: 160px;
}

.feedback__heading {
  margin-top: 12px;
}
.feedback__desc {
  margin-top: 18px;
  max-width: 435px;
  text-align: center;
  line-height: 1.75;
}
.feedback__list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
  overflow-x: hidden;
}
.feedback__item {
  flex-basis: 50%;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 4px;
}
.feedback__content {
  --padding-bottom: 42px;

  fill: #fff;

  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54545; /* 154.545% */
}
.feedback__content p {
  padding: var(--padding-bottom) 28px;
  border-radius: 10px;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.07);
}
.feedback__content::after {
  content: "";
  margin: 0 auto;
  display: inline-block;
  border-left: var(--padding-bottom) solid transparent;
  border-right: var(--padding-bottom) solid transparent;
  border-top: var(--padding-bottom) solid #fff;
  filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.07))
    drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.07));
}
.feedback__user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__avatar-wrapper {
  font-size: 10px;
  width: 10.4em;
  height: 10.4em;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38462;
}
.user__role {
  margin-top: 2px;
  color: #696d76;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6667;
}
.feedback .feedback__item:first-child .user__avatar-wrapper {
  background-color: #4ab5e3;
}
.feedback__control {
  margin-top: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.feedback-control__item {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
}
.feedback-control__item--chosed {
  background-color: #7264d6;
  border: none;
}
/* Blog */
.blog {
  margin-top: 160px;
}
.blog__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__heading {
  margin-top: 6px;
}
.blog__desc {
  max-width: 460px;
  margin-top: 18px;
  line-height: 1.75;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.blog__item {
  display: flex;
  align-items: center;
  padding: 28px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.blog__thumb {
  font-size: 10px;
  width: 16em;
  height: 16em;
  border-radius: inherit;
  overflow: hidden;
  margin-right: 22px;
}
.blog-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item__info {
  flex: 1;
}
.blog-item__time {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71429;
}
.blog-item__heading {
  margin-top: 10px;
  color: var(--text-primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.blog-item__link {
  display: inline-block;
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}
/* Download */
.download {
  padding: 49px 112px;
  margin-top: 160px;
  background-color: var(--primary-color);
  border-radius: 24px;
}
.download__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 51px 0;
}
.download__title,
.download__heading,
.download__desc {
  color: #fff;
}
.download__heading {
  margin-top: 12px;
}
.download__desc {
  max-width: 435px;
  margin-top: 18px;
  text-align: center;
  line-height: 1.75;
}
.download__list {
  display: flex;
  gap: 16px;
  margin-top: 38px;
}
.download__item {
  width: 182px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #fff;
}
.download-item__thumb img {
  width: 100%;
  max-height: 100%;
}
.download__decor {
  position: absolute;
}
.download__decor-top-left {
  top: 0;
  right: 0;
}
.download__decor-top-right {
  top: 0;
  left: 0;
}
.download__decor-bot-left {
  left: 54px;
  bottom: 0;
}
.download__decor-bot-right {
  right: 54px;
  bottom: 0;
}
/* Footer */
.footer {
  margin-top: 100px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.footer__heading,
.footer__item,
.footer__address {
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.6667;
}
.footer__heading {
  color: var(--text-primary-color);
  font-weight: 600;
}
.footer__item,
.footer__address {
  font-weight: 400;
}
.footer__list {
  margin-top: 24px;
}
.footer__item ~ .footer__item {
  margin-top: 10px;
}
.footer__link {
  color: #6a6e78;
}
.footer__address {
  color: #6a6e78;
  margin-top: 24px;
  max-width: 371px;
}
.footer__form {
  margin-top: 48px;
}
.footer__label {
  color: #0a142f;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66667;
}
.footer-form__inner {
  display: flex;
  margin-top: 24px;
}
.footer-form__input {
  padding: 12px 0 12px 12px;
  margin-right: 20px;
  outline: none;
  border-radius: 6px;
  border: 1px solid currentColor;

  color: #8e919a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
.footer-form__submit {
  padding: 12px 18px;
  color: #fff;
  border-radius: 6px;
  background-color: var(--primary-color);
}
.footer__bottom .footer__list {
  display: flex;
  margin-bottom: 28px;
}
.footer__bottom .footer__item {
  margin: unset;
}
.footer__bottom .footer__item ~ .footer__item {
  margin-left: 100px;
}
.copyright {
  background-color: var(--primary-color);
}
.copyright p {
  padding: 28px 0;
  text-align: center;

  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
