:root{
    --primary-color: #0B132A;
    --secondary-color: #F53838;
    --text-color: #4F5665;
    --green-color: #2FAB73;
    --yellow-color: #FEA250;
    --main-font: font-family: 'Rubik', sans-serif;;
}