*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 6.25px;
}
#nav{
display: flex;
justify-content: space-between;
}
#nav .nav__name-page{
    display: flex;
    align-items: center;
}
#nav .nav__name-page h1{
    font-size: 2rem;
}