:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-family: "Poppins";
}
.content {
  width: 1170px;
  margin-inline: auto;
}
/* Header */
.nav {
  display: flex;
  justify-content: space-between;
}
.nav .list-item {
  display: flex;
}
.nav .list-item ul {
  display: flex;
}
.nav .list-item ul;
