@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('openSans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-Bold.woff2') format('woff2'),
        url('openSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-Extrabold.woff2') format('woff2'),
        url('openSans/OpenSans-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('openSans/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans.woff2') format('woff2'),
        url('openSans/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-Light.woff2') format('woff2'),
        url('openSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-Semibold.woff2') format('woff2'),
        url('openSans/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-Italic.woff2') format('woff2'),
        url('openSans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSansLight-Italic.woff2') format('woff2'),
        url('openSans/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('openSans/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('openSans/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

